<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="employee" style="text-decoration: none;">Employee</a>
        <a class="nav-item nav-link" routerLink="product" style="text-decoration: none;">Product</a>
        <a class="nav-item nav-link" routerLink="student" style="text-decoration: none;">Student</a>
        <a class="nav-item nav-link" routerLink="subject" style="text-decoration: none;">Subject</a>
        <a class="nav-item nav-link" routerLink="forkJoin" style="text-decoration: none;">Fork Join</a>
        <a class="nav-item nav-link" routerLink="dynamic" style="text-decoration: none;">Dynamic Templating</a>
        <a class="nav-item nav-link" routerLink="dyno" style="text-decoration: none;">Dynamic Component</a>
      </div>
    </div>
  </nav>