<h1>Product List</h1>

<table border="2">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Delivery Address</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor = "let p of products">
        <td> {{ p.id }}</td>
        <td> {{ p.name }} </td>
        <td> {{ p.quantity }} </td>
        <td> {{ p.price }} </td>
        <td> {{ p.deliveryAddress.city }},{{ p.deliveryAddress.state }},{{ p.deliveryAddress.pincode }} </td>
        <td> <button>Edit</button> <button (click)="deleteProduct(p.id)">Delete</button></td>
    </tr>
</table>
